* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}
.iphone13 {
  background-image: url(./Blue.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 454px;
  height: 926px;
  border-radius: 30px;
  position: relative;
}
.statusTop {
  margin: 39px 5px 0px 30px;
  display: flex;
  width: 391px;
  font-weight: bold;
  font-family: sans-serif;
  justify-content: space-between;
}
.statusTop1 {
  margin-top: 29px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 14.242412567138672px;
  gap: 5px;
}
.status1 {
  margin-top: 29px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 391px;
  gap: 100px;
  width: 20px;
  color: white;
}
.status2 {
  background-image: url(./Combined\ Shape.png);
  background-repeat: no-repeat;
  background-size: cover;

  width: 20px;
}
.status3 {
  background-image: url(./Wi-Fi.png);

  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
}
.status4 {
  background-image: url(./Battery.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 29px;
}
.buttons {
  width: 394px;
  height: 496px;
  top: 311px;
  left: 36px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 14px;
}
.buttons .AC {
  color: black;
  background: rgba(165, 165, 165, 1);
  cursor: pointer;
  border: 1px solid rgb(97, 97, 97);
}
.buttons .hasahNemeh {
  color: black;
  background: rgba(165, 165, 165, 1);
  cursor: pointer;
  border: 1px solid rgb(97, 97, 97);
}
.buttons .vlHuwaah {
  color: black;
  background: rgba(165, 165, 165, 1);
  cursor: pointer;
  border: 1px solid rgb(97, 97, 97);
}
.buttons p {
  background: rgba(51, 51, 51, 1);
  width: 88px;
  height: 88px;
  opacity: 1;
  border-radius: 352px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 510;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgb(97, 97, 97);
}
.frame4 {
  width: 88px;
  height: 394px;
  opacity: 1;
  gap: 14px;
  display: flex;
  flex-direction: column;
}
.frame3 {
  width: 88px;
  height: 394px;
  gap: 14px;
  display: flex;
  flex-direction: column;
}
.frame2 {
  display: flex;
  gap: 14px;
  flex-direction: column;
}
.frame1 > .naluuZuraas,
.vrjih,
.hasah,
.nemeh,
.tentsuu {
  display: flex;
  gap: 14px;
  flex-direction: column;
  width: 88px;
  height: 88px;
  opacity: 1;
  border-radius: 352px;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 510;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgb(97, 97, 97);
  background-color: var(--Accents-Orange, rgba(255, 141, 40, 1));
}
.frame1 {
  gap: 14px;
  display: flex;
  flex-direction: column;
}
.teg {
  cursor: pointer;
  border: 1px solid rgb(97, 97, 97);
  background: rgba(51, 51, 51, 1);
  width: 190px;
  height: 88px;
  top: 410px;
  left: 2px;
  position: absolute;
  opacity: 1;
  border-radius: 352px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 40px;
  display: flex;
  padding: 30px;
  align-items: center;

  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  color: white;
}
.hariu {
  width: 394px;
  height: 107px;
  top: 239px;
  left: 20px;
  opacity: 1;
  position: absolute;
  font-family: sans-serif;
  font-weight: 274;
  font-size: 90px;
  line-height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow-x: auto;
  white-space: nowrap;
}
